.flic {
  position: relative;
  display: inline-block;
  width: 1.333333em;
  line-height: 1em;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flic:before {
  content: " ";
}

.flic-squared {
  width: 1em;
}
